
/*-- Loader --*/
.loader-spin{
    width: 120px;
    height: 120px;
    border-radius: 90px;
}
.loader-logo{
    font-size: 70px;
    position: absolute; top: 245px; left: 35%;
}

/*-- Steps --*/
ul{
    flex-direction: column;
}
.steps{
    width: 35%;
}
.step1{
    margin: 0 0 20px 32px;
}
.step2{
    margin: 0 auto 20px auto;
}
.step3{
   margin: 0 32px 0 auto;
}

/*-- Section Restaurants --*/
article{
    width: 24%;
    height: 260px;
}
.new1{
    position: absolute; top: 865px; right: 77%;
}
.new2{
    position: absolute; top: 865px; right:  52%;
}
label > .heart1{
    right: 77%;
}
label > .heart2{
    right: 52%;
}
label > .heart3{
    right: 27%;
}
label > .heart4{
    right: 2%;
}
/*--Footer--*/
.footer{
    height: 100px;
}
.footer_flex{
    display: flex;
    justify-content: space-between;
    width: 80%;
}