@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

/*--General--*/
.center{
    display: block;
    margin: auto;
}
.flex{
    display: flex;
}
.text_align{
    text-align: center;
    margin: auto;
}
.width_85{
    width: 85%;
}
.padding_top15{
    padding-top: 15px;
}
p{
    font-weight: 200;
}

/*-- Titles --*/
h1{
    width: 80%;
    font-size: 26px; font-weight: 550;
    text-align: center;
    margin: auto;
}
h2{
    font-size: 26px; font-weight: 550;
    margin: 40px 0 30px 20px;
}
h3{
    font-size: 20px;
    padding-bottom: 3px;
    margin-top: 0; margin-bottom: 0;
}
h4{
    margin-top: 0; padding-top: 20px;
    color: white;
    font-family: 'shrikhand', cursive;
    font-size: 18px;
}

/*-- Loader --*/
.loader{
    position: absolute; z-index: -1;
    width: 100%;
    height: 10px;
    text-align: center;
  }
  .loader-spin{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 250px auto;
    border-radius: 60px;
    border-top: 5px solid #9356DC;
    border-right: 5px solid #FF79DA;
    border-bottom: 5px solid #9356DC;
    border-left: 5px solid #FF79DA;
    animation-name: spin;
    -webkit-animation-name: spin;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  @keyframes spin{
    0% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      overflow: hidden;
      
    }
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      visibility: hidden;
    }
  }
  .loader-logo{
    font-family: 'shrikhand', cursive;
    font-size: 50px;
    position: absolute; top: 278px; right: 1%; left: 1%;
    display: inline-block;
    margin:auto;
    animation-name: in-out;
    -webkit-animation-name: in-out;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  @keyframes in-out{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }

  /*-- Loader Start --*/
  .loader-start {
    animation: WhitePage 2.5s;
  }
  @keyframes WhitePage {
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

/*-- Header --*/
header{
    height: 50px;
}
.main_header{
    box-shadow: 3px 5px 7px #d1d1d1;
    height: 45px;
}
.header_logo{
    width: 200px;
    height: 35px;
    display: block;
    margin: 20px auto 15px auto;
}

/*-- Section Location --*/
.section_location{
    background-color: #e5e5e6;
    justify-content: center; align-items: center;
    height: 55px;
    
}
.fa-location-dot{
    font-size: 20px;
}
.location{
    border: none;
    margin-left: 22px;
    background-color: transparent;
    font-size: 20px;
    width: 170px;
}

/*-- Section Explore --*/
.section_explore{
    height: 255px;
    padding-top: 43px;
    background-color: #f3f2f4;
}
.text_size{
    font-size: 18px;
}
button{
    border-radius: 40px; border: none;
    display: block;
    margin: 30px auto;
    padding: 18px 28px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-size: 17px;
    box-shadow: 2px 5px 10px #c8c8c8;
}
button:hover{
    cursor: pointer;
    background: linear-gradient(#fe86dc, #9c69db);
    box-shadow: 2px 5px 10px #7d7d7d;
}

/*-- Steps --*/
ul{
    padding-left: 32px;
}
.steps{
    align-items: center;
    background-color: #f3f2f4;
    border-radius: 20px;
    width: 95%; height: 65px;
    margin-bottom: 25px;
    box-shadow: 2px 5px 10px #e5e5e6;
}
.steps:hover{
    background-color: #9256dc37;
    cursor: pointer;
}
.steps:hover > .steps_icon{
    color: #9356DC;
}
.steps_number{
    color: white;
    background-color: #9356DC;
    border-radius: 20px;
    padding: 3px 8px;
    margin-left: -12px;
}
.steps_icon{
    margin: 23px;
    font-size: 20px;
    color: gray;
}

/*-- Section Restaurants --*/
.section_restaurants{
    background-color: #f3f2f4;
    padding-top: 20px; padding-bottom: 55px;
    margin-top: 80px;
}
article{
    background-color: white;
    width: 88%;
    border-radius: 20px;
    box-shadow: 2px 5px 10px #e5e5e6;
    margin: 0 auto 20px
}
.new{
    background-color: #99e2d0;
    color: #1d8a64;
    width: 75px; height: 25px;
    padding-top: 7px; padding-left: 13px;
    border-radius: 3px;
}
.new1{
    position: absolute; top: 980px; right: 9%;
}
.new2{
    position: absolute; top: 1260px; right: 9%;
}
a{
    text-decoration: none;
    color: black;
}
figure{
    margin: 0;
}
.restaurant_img{
    width: 100%; height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
figcaption{
    display: flex;
}
.fig_cap_wid{
    width: 100%; height: 100%;
}
.description{
    margin: 15px;
}
.no_margin{
    margin: 0;
}
label > .fa-heart{
    position: absolute;
    margin-top: 22px;
    right: 12%;
    font-size: 25px;
    cursor: pointer;
}
.checkbox-like input[type=checkbox]:checked ~ .unchecked {
    display: none;
}
.checkbox-like input[type=checkbox]:checked ~ .checked {
    display: inline-block;
    color: rgba(255, 255, 255, 0);
}
.checkbox-like input[type=checkbox], .checkbox-like .checked {
    display: none;
    animation: like 1.5s ease;
    animation-fill-mode: forwards;
}
@keyframes like {
    0% {
      opacity: 0;
    }
    50% {
      background: linear-gradient(to bottom, #9356DC, #FF79DA);
      -webkit-background-clip: text;
    }
    100% {
      background: linear-gradient(to bottom, #9356DC, #FF79DA);
      -webkit-background-clip: text;
    }
}
.marge_bottom{
    margin-bottom: 20px;
}

/*--Footer--*/
.footer{
    padding-left: 25px; padding-bottom: 30px;
    height: 170px;
    background-color: rgb(39, 39, 39);
    color: white;
}
.footer_link{
    margin-bottom: 8px;
    cursor: pointer;
}
.no_deco{
    text-decoration: none;
    color: white;
}
.footer_icon{
    padding-right: 7px;
}
.icon_size{
    font-size: 11px;
}