.cards{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
article{
    width: 45%;
}
.footer{
    height: 100px;
}
.footer_flex{
    display: flex;
    justify-content: space-between;
    width: 80%;
}