
/*-- Loader --*/
.loader-spin{
    width: 150px;
    height: 150px;
    border-radius: 90px;
}
.loader-logo{
    font-size: 70px;
    position: absolute; top: 265px; left: 25%;
}

/*-- Section Explore --*/
.section_explore{
    height: 190px;
}

/*-- Steps --*/
ul{
    display: flex;
    padding-left: 10px;
}
.steps{
    width: 29%;
    margin: auto;
}
.steps_icon{
    margin: 15px;
}

/*-- Section Restaurants --*/
.section_restaurants{
    margin-top: 40px;
}
.cards{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
article{
    width: 45%;
}
.new1{
    position: absolute; top: 695px; right: 54%;
}
.new2{
    position: absolute; top: 695px; right: 4%;
}
label > .heart1{
    right: 56%;
}
label > .heart2{
    right: 6%;
}
label > .heart3{
    right: 56%;
}
label > .heart4{
    right: 6%;
}
/*-- Footer --*/
.footer{
    height: 100px;
}
.footer_flex{
    display: flex;
    justify-content: space-between;
    width: 80%;
}