@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

h3{
    font-family: 'Shrikhand', cursive;
}
body{
    font-family: 'Roboto', sans-serif;
}

/*--General--*/
.center{
    display: block;
    margin: auto;
}
.flex{
    display: flex;
}
.text_align{
    text-align: center;
    margin: auto;
}
.width_85{
    width: 85%;
}
.padding_top15{
    padding-top: 15px;
}

/*--Header--*/
header{
    height: 50px;
}
.header{
    box-shadow: 3px 5px 7px #d1d1d1;
    height: 45px;
}
.logo{
    width: 200px;
    height: 35px;
    display: block;
    margin: 20px auto 15px auto;
}

/*--City search section--*/
.city_search{
    background-color: #e5e5e6;
    justify-content: center; align-items: center;
    height: 55px;
    
}
.location_dot{
    font-size: 20px;
}
.city{
    border: none;
    margin-left: 22px;
    background-color: transparent;
    font-size: 20px;
    width: 170px;
}

/*--Restaurant search section--*/
#Restaurant_search{
    height: 255px;
    padding-top: 43px;
    background-color: #f3f2f4;
}
h1{
    width: 80%;
    font-size: 26px; font-weight: 550;
    margin: 40px 0 30px 20px;
}
.text_size{
    font-size: 18px; font-weight: 100;
}
.explore{
    border-radius: 40px; border: none;
    margin-top: 30px;
    padding: 18px 28px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-size: 17px;
    box-shadow: 2px 5px 10px #c8c8c8;
}
.explore:hover{
    cursor: pointer;
}

/*--Steps--*/
.steps{
    align-items: center;
    background-color: #f3f2f4;
    border-radius: 20px;
    width: 85%;
    margin-bottom: 25px; margin-left: 32px;
    box-shadow: 2px 5px 10px #e5e5e6;
    height: 65px;
}
.steps:hover{
    background-color: #9256dc37;
    cursor: pointer;
}
.steps:hover > .steps_icon{
    color: #9356DC;
}
.cercle_number{
    color: white;
    background-color: #9356DC;
    border-radius: 20px;
    padding: 3px 8px;
    margin-left: -12px;
}
.steps_icon{
    margin: 23px;
    font-size: 20px;
}

/*--restaurant cards--*/
#restaurant_cards{
    background-color: #f3f2f4;
    padding-top: 20px; padding-bottom: 55px;
    margin-top: 80px;
}
article{
    background-color: white;
    width: 88%;
    border-radius: 20px;
    box-shadow: 2px 5px 10px #e5e5e6;
    margin-bottom: 25px;
}
.new{
    background-color: #99e2d0;
    color: #1d8a64;
    width: 75px; height: 25px;
    padding-top: 7px; padding-left: 13px;
    border-radius: 3px;
}
.new1{
    position: absolute; top: 980px; right: 9%;
}
.new2{
    position: absolute; top: 1260px; right: 9%;
}
.description{
    text-decoration: none;
    color: black;
}
.resto_pic{
    width: 100%; height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.marge_left15{
    margin: 15px;
}
.marge0{
    margin-top: 0; margin-bottom: 0;
}
.flex_wrap{
    display: flex;
    align-items: center; justify-content: space-between;
}
.heart{
    font-size: 27px;
    margin-right: 25px;
}
.heart:hover{
    cursor: pointer;
    color: #9356DC;
}
h2{
    font-size: 20px;
    padding-bottom: 3px;
}
.marge_bottom{
    margin-bottom: 20px;
}

/*--Footer--*/
.footer{
    padding-left: 25px;
    height: 170px;
    background-color: rgb(39, 39, 39);
    color: white;
}
.footer_link{
    margin-bottom: 8px;
}
.no_deco{
    text-decoration: none;
    color: white;
}
h3{
    margin-top: 0; padding-top: 20px;
    color: white;
    font-family: 'shrikhand', cursive;
    font-size: 18px;
}
.footer_icon{
    padding-right: 7px;
}
.icon_size{
    font-size: 11px;
}