@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

/*-- Titles --*/
h1{
    font-family: 'Shrikhand', cursive;
    font-weight: 500; font-size: 29px;
    margin: 40px 30px 0 20px;
}
h2{
    font-size: 17px; font-weight: 400;
    margin-left: 23px;
    text-transform: uppercase;
    margin-bottom: 0; margin-top: 40px;
}
h3{
    margin: 0 0 3px 12px; 
    padding-top: 12px;
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
h4{
    margin-top: 0; padding-top: 20px;
    color: white;
    font-family: 'shrikhand', cursive;
    font-size: 18px;
}

/*-- Header --*/
header{
    height: 50px;
}
.left_arrow{
    position: absolute; top: 25px; left: 25px;
    font-size: 22px;
}
a{
    color: black;
    text-decoration: none;
}
.header_logo{
    width: 200px;
    height: 35px;
    display: block;
    margin: 20px auto 15px auto;
}

/*-- Main Image --*/
figure{
    margin: 0;
}
.menu_img{
    width: 100%;
}

/*-- Section Menu --*/
.main_menu{
    background-color:#f6f6f6;
    border-radius: 45px 45px 0 0;
    margin-top: -80px;
    padding-bottom: 60px;
    position: relative;    
}
.title{
    display: flex;
    justify-content: space-between;
}
label > .fa-heart{
    font-size: 25px;
    margin-right: 40px; margin-top: 40px;
    cursor: pointer;
}
.checkbox-like input[type=checkbox]:checked ~ .unchecked {
    display: none;
}
.checkbox-like input[type=checkbox]:checked ~ .checked {
    display: inline-block;
    color: rgba(255, 255, 255, 0);
}
.checkbox-like input[type=checkbox], .checkbox-like .checked {
    display: none;
    animation: like 1.5s ease;
    animation-fill-mode: forwards;
}
@keyframes like {
    0% {
      opacity: 0;
    }
    50% {
      background: linear-gradient(to bottom, #9356DC, #FF79DA);
      -webkit-background-clip: text;
    }
    100% {
      background: linear-gradient(to bottom, #9356DC, #FF79DA);
      -webkit-background-clip: text;
    }
}

/*-- Section Menu --*/
.border_bottom{
    border-bottom: 3px solid #99E2D0;
    width: 40px; height: 5px;
    margin-top: 0; margin-bottom: 15px;
    margin-left: 23px;
}

.selection{
    background-color: white;
    border-radius: 20px;
    width: 92%; height: 72px;
    margin: auto; margin-bottom: 13px;
    box-shadow: 0 0 10px #d9d9d9;
    overflow: hidden;
    animation: fadein .7s ease-in;
    cursor: pointer;
}
@keyframes fadein{
    0%{
        transform: translateY(5px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.delay-1{
    animation-delay: .1s;
}
.delay-2{
    animation-delay: .2s;
}
.flex{
    display: flex;
    justify-content: space-between;
}
p{
    margin: 3px 0 10px 12px;
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description{
    font-weight: 200;
}
.flex_end{
    display: flex;
}
.no_overflow{
    margin-right: 30px;
    min-width: 30px;
}
.bgc{
    background-color: #99E2D0;
    margin-right: -75px; margin-top: -38px;
    transform: translateY(0);
    transition-duration: .4s;
}
.selection:hover .bgc{
    margin-right: 0;
    transform: translateY(0);
}
.fa-circle-check{
    font-size: 25px;
    color: white;
    padding: 24px 25px 24px 25px;
    transform: translateY(0);
    transition-duration: .4s;
}
.selection:hover .fa-circle-check{
    margin-right: 0;
    transform: translateY(0) rotate(1turn);  
}

/*-- Order --*/
button{
    border-radius: 40px; border: none;
    padding: 18px 55px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-size: 17px;
    box-shadow: 2px 5px 10px #c8c8c8;
    display: block;
    margin: auto; margin-top: 50px;
}
button:hover{
    cursor: pointer;
    background: linear-gradient(#ff96e1, #a575e0);
}

/*-- Footer --*/
.footer{
    padding-left: 25px; padding-bottom: 30px;
    height: 170px;
    background-color: rgb(39, 39, 39);
    color: white;
}
.footer_link{
    margin-bottom: 8px;
    cursor: pointer;
}
.footer_link > a{
    color: white;
}
.no_deco{
    color: white;
}
.footer_icon{
    padding-right: 7px;
}
.icon_size{
    font-size: 11px;
}
