

/*-- Title --*/
h1{
    margin-bottom: 20px;
}
h2{
    width: 72px;
}
/*-- Header --*/
.menu_img{
    height: 400px;
}
/*-- Menu --*/
.flex_menu{
    display: flex;
}
.auto{
    margin-top: auto; margin-bottom: auto;
}
.selection_width{
    width: 100%;
    margin-top: 20px;
}
.selection{
    width: 90%;
    transition: transform .5s;
}
.selection:hover{
    transform: translateX(-20px);
}
.separation{
    border-bottom: 3px dotted #99E2D0;
    width: 90%;
    margin: auto;
}
/*--Footer--*/
.footer{
    height: 100px;
}
.footer_flex{
    display: flex;
    justify-content: space-between;
    width: 80%;
}